.pagination {
	display: flex;
	gap: 5px;
}

.paginate-button {
	padding: 10px 15px;

	color: var(--white);
	background-color: #000;
}

.button-disabled {
	border: 1px solid gray;
	background-color: gray;
}

.button-page {
	transition: color 0.25s ease;
}

.button-page:hover {
	color: var(--white);
	background-color: var(--black);
}

.button-active {
	color: var(--white);
	background-color: var(--black);
}

@media screen and (max-width: 960px) {
	.pagination {
		flex-wrap: wrap;
	}

	.pagination button {
		flex-grow: 1;
	}

	.paginate-button {
		padding: 10px 17px;
	}

	.button-page {
		padding: 10px 24px;
	}
}
