.header {
	background-color: #223;
	background-image: -webkit-radial-gradient(center, circle cover, transparent 0%, #000 100%);
}

.header > div {
	display: flex;
	align-items: center;
	gap: 40px;
}

@media screen and (max-width: 960px) {
	.header {
		padding-bottom: 40px;
	}

	.header > div {
		flex-direction: column;
		gap: 0;
	}

	.header > div > svg {
		height: 100px;
	}
}
