.people-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 40px;
}

.header-container {
	display: flex;
	align-items: center;
	gap: 40px;
}

.footer-container {
	display: flex;
	align-items: center;
	gap: 60px;
}
