.button {
	padding: 10px 20px;

	cursor: pointer;

	border: 1px solid var(--black);
	outline: none;
	background-color: transparent;
}

.paginate-button {
	color: #FFF;
	background-color: var(--black);
}

.button-disabled {
	background-color: var(--blue);
}
