.people-list {
	display: flex;
	flex-direction: column;

	width: 100%;
}

.people-list__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 60px;
}

.button-wrapper {
	display: flex;
	gap: 10px;

	margin-bottom: 40px;
}

.people-loading {
	margin: 0 auto;

	text-align: center;
}

.toolbar {
	display: flex;
	align-items: center;
	gap: 20px;

	margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
	.toolbar {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
	}

	.people-list__wrapper {
		justify-content: center;
	}
}
