.card {
	position: relative;

	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;

	width: 300px;
	height: 379px;
	padding: 20px;

	transition: all 0.8s ease;

	color: var(--white);
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: 300px;
	box-shadow: 0 70px 63px -60px var(--black);

	font-family: 'Oswald', sans-serif;
}

.card h3 {
	flex-grow: 1;
}

.border {
	z-index: 10;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
	padding: 20px;

	transition: all 0.8s ease;

	opacity: 0;
}

.card-overlay {
	position: absolute;

	width: 100%;
	height: 100%;

	transition: all 0.8s ease;

	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.card .card-button {
	display: flex;
	align-items: center;

	padding-left: 0;

	transition: all 0.8s ease;

	color: #FFF;
	border: none !important;
	gap: 15px;
}

.card-button svg {
	transition: all 0.8s ease;
}

.card:hover {
	background-size: 600px;
}

.card:hover .border,
.card:hover .card-overlay {
	opacity: 1;
}

@media screen and (min-width: 1400px) {
	.card-button:hover svg {
		fill: var(--red);
	}
}

@media screen and (max-width: 960px) {
	.card .card-button {
		border: none;
		outline: none;
		background: transparent;
	}

	.border {
		opacity: 1;
	}

	.card h3 {
		opacity: 1;
	}

	.card-overlay {
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.3);
	}

	.card:hover {
		background-size: cover;
	}
}
