.sortingWrapper {
	position: relative;

	width: 150px;
	height: 28px;

	cursor: pointer;
}

.sorting {
	position: absolute;
	z-index: 20;

	list-style: none;
}

.hide {
	display: none;
}

.param {
	position: relative;
	top: 10px;

	display: block;

	padding: 5px 5px;

	cursor: pointer;

	color: var(--white);
	background-color: var(--black);
}
