.loading-count {
	display: flex;
	align-items: center;
}

.count {
	width: 28px;
	height: 28px;

	text-align: center;

	color: var(--black);
	border-radius: 50%;
	background-color: #AED581;

	font-size: 14px;
	line-height: 26px;
}
