:root {
	--white: #FFF;
	--black: #000;
	--blue: blue;
	--red: red;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

body {
	min-height: 100vh;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: 'Oswald', sans-serif;
}

#root {
	min-height: 100vh;
}

code {
	font-family:
		source-code-pro,
		Menlo,
		Monaco,
		Consolas,
		'Courier New',
		monospace;
}

.scroll-to-top-wrapper svg {
	width: 20px;
}
