.footer {
	background-color: #223;
	background-image: -webkit-radial-gradient(center, circle cover, transparent 0%, #000 100%);
}

.footer > div {
	display: flex;
	align-items: center;
	gap: 60px;
}

@media screen and (max-width: 960px) {
	.footer {
		padding: 10px 0 20px 0;
	}

	.footer > div {
		flex-direction: column;
		gap: 10px;
	}

	.footer > div > svg {
		height: 100px;
	}
}
